name: Release

on:
  push:
    tags:
      - '*.*.*'

env:
  go_version: 1.18

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    env:
      WORKINGDIR: ${{ github.workspace }}
    steps:
      -
        name: Checkout pdkgo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      -
        name: Checkout PCT Templates
        uses: actions/checkout@v2
        with:
          repository: puppetlabs/baker-round
          fetch-depth: 1
          path: templates
      -
        name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.go_version }}
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HONEYCOMB_API_KEY: ${{ secrets.HONEYCOMB_API_KEY_PROD }}
          HONEYCOMB_DATASET: pct
